.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@keyframes slideBg {
    0%    { background-image: url('photo2.jpg');            background-size: 1024px 769px;}
    10%    { background-image: url('zdjecieJezioro3.jpg');  background-size: 1024px 769px;}
    20%    { background-image: url('photo4.jpg');           background-size: 1024px 769px;}
    30%    { background-image: url('photo5.jpg');           background-size: 1024px 769px;}
    40%    { background-image: url('zdjecieJezioro.jpg');   background-size: 1024px 769px;}
    50%    {background-image: url('zdjecieJezioro2.jpg');   background-size: 1024px 769px;}
    60%    {background-image: url('zdjecieJezioro3.jpg');   background-size: 1024px 769px;}
    70%    {background-image: url('zdjecieJezioro2.jpg');   background-size: 1024px 769px;}
    80%    {background-image: url('budynek.jpg');           background-size: 1024px 769px;}
    90%    {background-image: url('photo1.jpg');            background-size: 1024px 769px;}
    100%    {background-image: url('photo2.jpg');           background-size: 1024px 769px;}


    }


html, body{
    margin: 0;
    font-family: "Roboto";
}
header{
    background-color: white;
    width: 100%;
    height: 13vh;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 1px 1px 20px 1px #f062911c;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: #e91e63;
    color: white;
}
footer p{
    margin-left: 20px;
}
td{
    text-align: center;
}
.logo{
    margin: 0;
    height: 5vh;
    width: 30%;
    margin-bottom: 3vh;
    font-size: 5vh;
    margin-left: 20px;
    color: #e91e63;
}
a:visited, a:link{
    color: #F06292;
    text-decoration: none;
}
nav a{  
    color: white;
    width: 15%;
    height: 3vh;
    padding: 0.5vh 0 0.5vh 0;
    margin-left: 2%;
    text-align: center;
}
a:hover, a:active{
    background-color: #F06292;
    color: white;
    transition: 0.3s;
}
a{
    transition: 0.3s;
    border-radius: 20px;
}
nav{
    display: flex;
    gap:2.5%;
}
section{
    padding: 80px 0;
    margin-top: 40vh;
    scroll-margin-top: 130px;
    scroll-behavior: smooth;
}
.aboutUsContent{
    border-left: 3px black solid;
    padding-left:10px;
}
#heroSection{
    margin: 0;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('budynek.jpg');
    /* animation: 30s slideBg ease-in-out infinite both; */
    background-color: #F06292;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#heroSection::before {
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)); */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */
    background-color: rgba(0, 0, 0, 0.3);
}
#galery h2{
    margin-left: 50px;
}
.galeryPhotos{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
    animation: 30s slideBg ease-in-out infinite both;
    margin-bottom: 5%;
}
.heroContent {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 800px;
    padding: 40px;
    padding-bottom: 10px;
    margin: 0 20px;
    border-radius: 20px;
}

.heroTitle {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    letter-spacing: 1px;
    font-weight: 800;
}

.heroSubtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 55px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.roomsContent{
    margin: 0;
    width: 100%;
}
.roomsContent h2, .roomsContent h4, .roomsContent p{
    margin:10px;
    margin-left: 10%;
}
.heroDescription {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 1.8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.bookingLink{
    text-decoration: underline #e91e63;
}
.bookingLink:hover{
    background-color: white;
    color: #e91e63;
}
.bookingButton {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 18px 40px;
    width: 30%;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(240, 98, 146, 0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20vh;
}
.splitTable{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
.room{
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}
.room::before{
    content:"";
    display:block;
    height:4px;
    background:#e91e63;
    border-radius:16px 16px 0 0;
}
#rooms{
    background:#fafafa;
}
    .room h3{
        margin: 2vh;
    }
    .heroContent a:visited,.heroContent a:link{
        color:white;
        text-decoration: none;
    }
    .bookingButton:hover {
        background-color: #e91e63;
        transform: translateY(-3px);
    }
    
    .bookingButton:active {
        transform: translateY(-1px);
    }
    table{
        margin-top: 5vh;
        width: 100%;
    }
    section div{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    scroll-behavior: smooth;
}
#aboutUs, #rooms, #atractions, #price{
    min-height: 50vh;
    width: 100%;
}
.roomPhotoContainer{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.roomPhotos{
    margin-top: 10vh;
}
.room-header {
    width: 100%;
    padding: 15px;
    text-align: left;
    background: #F06292; /* możesz zmienić kolor */
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Roboto";
    color: white;
    margin-bottom: 5px;
}

.room-content {
    color: white;
    display: none;
    padding: 15px;
  margin-bottom: 5px;
  background: #F06292;
  border: 1px solid #e91e63;
}
.room-content img{
    width: 600px;
    height: 100%;
    object-fit: cover;
}
td,th,table{
    padding: 10px;
    border: 1px #f0f0f0 solid;
    border-collapse: collapse;
}
td{
    font-weight: 200;
}
ul{
    background-color: #F06292;
    list-style-type: none;
    width: 50%;
}
li{
    height: 5vh;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}
ul a:visited, ul a:link, ul a, footer a:visited, footer a:link{
    color: white;
}
footer a:visited, footer a:link{
    color: white;
}
.freepik, .freepik:visited, .freepik:link{
    color: blue;
}
ul a:hover{
    color: #e91e63;
    transform: translateY(-3px);
}

.room img{
    object-fit: cover;
}

@media (max-width: 768px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroSubtitle {
        font-size: 1.2rem;
    }
    .heroDescription {
        font-size: 1rem;
    }
    .bookingButton {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30vh;
        color: white;
        width: 100%;
        font-size: 1rem;
    }
    .splitTable{
        display: block;
    }
    ul{
        width: 100%;
    }
    section div{
        margin: 10px 10px 0px 10px;
    }
    section{
        margin-left: 0;
        margin-right: 0;
    }
    .roomPhotos{
        width: 90%;
        margin-left: 10%;
    }
}
@media (min-width:768px) {
    .card{
        display: flex;
        gap: 2%;
    }
}
td a{
    padding-left: 10px;
    padding-right: 10px;
}